#headers {
    margin-bottom: 15px;
    #top-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    #bot-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#grid-div {
    display: grid;
    width: 100%;
    grid-template-areas: "img-div   img-div wra-box"
                         "genres    genres  cast"
                         ".         .       cast";
    grid-template-rows:    450px 1fr 500px;
    grid-template-columns: 150px 130px 4fr;
    column-gap: 20px;

    #img-div {
        grid-area: img-div;
        width: 300px;
        height: 450px;
        background-color: #949494;
        border-radius: 15px;

        img {
            border-radius: 15px;
        }
    }
    #wrapping-box {
        grid-area: wra-box;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        #description {
            p{
                font-size: 1.5rem;
            }
        }
        #info {
            div {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    
    #genres {
        padding-top: 15px;
        grid-area: genres;
        display: flex;
        flex-flow: column;
        justify-content: end;
        
        p {
            font-size: 2.5rem;
        }
        .genre {
            display: flex;
            justify-content: space-between;
        }
    }
    #cast {
        width: 100%;
        grid-area: cast;
        padding-top: 15px;

        p {
            font-size: 2.5rem;
        }
    }
}

@media screen and (max-width: 769px) { 
    #headers {
        h1 {
            font-size: 2.5rem;
        }
    }
    #recommendations {
        h2 {
            font-size: 2rem;
        }
    }
    #grid-div {

        grid-template-areas: "img-div  img-div   wra-box wra-box wra-box wra-box "
                             "genres    genres  wra-box wra-box wra-box wra-box"
                             "cast      cast    cast cast cast cast";
        grid-template-rows:    225px auto auto;
        grid-template-columns: 75px 75px 1fr 1fr 1fr 1fr;
        column-gap: 8px;

        #img-div {
            width: 150px;
            height: 225px;
            img {
                width: 100%;
            }
        }
        #wrapping-box {
            height: 100%;
            #description {
                p{
                    font-size: 1rem;
                }
            }
            #info {
                h3 {
                    font-size: 1.5rem;
                }
            }
            #genres {
                p {
                    font-size: 1rem!important;
                }
            }
        }
    }
}