* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 80%;
  overflow-x: hidden;
}

body {
  min-width: 100%;
  overflow-x: hidden;
}

h1 {
  color: #ebd620;
  font-size: 4rem;
  font-family: Roboto;
}

h2 {
  color: #ebd620;
  font-size: 3rem;
  font-family: Roboto;
}

h3 {
  color: #ebd620;
  font-size: 2rem;
  font-family: Roboto;
}

h4 {
  color: #ebd620;
  font-size: 1.5rem;
  font-family: Roboto;
}

h5 {
  color: #949494;
  font-size: 1rem;
  font-family: Roboto;
}

p {
  font-size: 0.75rem;
  color: #949494;
  font-family: Roboto;
}

a {
  color: #949494;
  font-size: 1.5rem;
  font-family: Roboto;
  text-decoration: none;
  font-weight: bold;
}

body {
  background-color: #101010;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collapse-text a {
  color: #ebd620;
  margin-left: 10px;
}

input[type=checkbox] {
  height: 25px;
  width: 25px;
  margin: 5px;
  color: #ebd620;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1A1A1A;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

nav {
  height: 50px;
  background-color: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

nav #navbar {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav #navbar #logonbar #logo {
  margin-top: 7px;
  height: 50px;
}

nav #navbar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

nav #navbar div #user-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

nav #navbar div > * {
  margin-right: 10px;
}

nav i {
  color: #949494;
  font-size: 2rem;
}

nav a {
  padding: 3px;
  border-radius: 6px;
}

nav a:hover {
  background-color: #242424;
  cursor: pointer;
}

nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav form input[type=text] {
  padding: 6px;
  font-size: 1rem;
  font-family: Roboto;
  border: none;
  position: relative;
  width: 30rem;
  border-radius: 15px;
  outline: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav form input[type=text]:focus {
  width: 40rem;
}

nav form i {
  position: absolute;
  right: 10px;
  color: #1A1A1A;
  font-size: 1.5rem;
  pointer-events: none;
}

#outer-block {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-block {
  position: relative;
  width: 1100px;
  margin-top: 30px;
}

#main-block .hidden-dropdown {
  background-color: #1A1A1A;
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0 0 10px 10px;
  top: -30px;
  z-index: 10;
  outline: none !important;
}

#main-block #search-results {
  margin-right: 10%;
  width: 35rem;
  right: 0;
}

#main-block #search-results .searched {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main-block #search-results .searched .searched-content {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#main-block #search-results .searched .searched-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-block #search-results .searched .searched-headline p {
  font-size: 1rem;
}

#main-block #search-results .searched:hover {
  background-color: #242424;
}

#main-block #search-results .movie .searched-img {
  background-color: #949494;
  border-radius: 5px;
  width: 116px;
  height: 141px;
}

#main-block #search-results .movie .searched-img img {
  border-radius: 5px;
}

#main-block #search-results .person .searched-img {
  background-color: #949494;
  border-radius: 50%;
  width: 94px;
  height: 94px;
}

#main-block #search-results .person .searched-img img {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#main-block #search-results .person p {
  font-size: 1rem;
}

#main-block #sign-in-box {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: -4%;
  right: 0;
}

#main-block #sign-in-box .item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#main-block #sign-in-box .item:hover {
  background-color: #242424;
}

#main-block #sign-in-box .item p {
  font-size: 1.2rem;
}

#main-block #sign-in-box .item i {
  font-size: 1.5rem;
  color: #ebd620;
}

#main-block #sign-in-box .register {
  margin: 5px;
  padding: 8px;
  border-radius: 7px;
}

#main-block #sign-in-box .register i, #main-block #sign-in-box .register p {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #1A1A1A;
}

#main-block #sign-in-box .register:hover {
  cursor: pointer;
  background-color: #ac9d1b;
  color: #494949;
}

#main-block #sign-in-box .register:hover:hover > p, #main-block #sign-in-box .register:hover i {
  color: #494949;
}

#main-block #user-options-box {
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: -4%;
  overflow: hidden;
  right: 0;
}

#main-block #user-options-box .item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#main-block #user-options-box .item:hover {
  background-color: #242424;
}

#main-block #user-options-box .item p {
  font-size: 1.2rem;
}

#main-block #main-menu {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: -4%;
  overflow: hidden;
  left: 0;
}

#main-block #main-menu #menu-comp {
  display: none;
}

#main-block #main-menu .item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#main-block #main-menu .item:hover {
  background-color: #242424;
}

#main-block #main-menu .item p {
  font-size: 1.2rem;
}

#index-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#index-middle #index-compare {
  margin-top: 15px;
  text-align: center;
  width: 50%;
}

#index-middle #index-compare h1 {
  font-size: 5rem !important;
}

#index-middle #index-compare h2 {
  font-size: 2rem !important;
}

#index-middle #index-user-toplist {
  width: 40%;
}

#index-middle #index-user-toplist #toplist-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index-middle #index-user-toplist .top-user {
  position: relative;
  margin-bottom: 5px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index-middle #index-user-toplist .top-user img {
  border-radius: 50%;
  height: 70px;
  margin-right: 15px;
}

#index-middle #index-user-toplist .top-user .top-vote {
  position: absolute;
  right: 0;
}

.register-box {
  padding: 8px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 17rem;
}

.register-box i, .register-box p {
  font-size: 1.2rem;
}

.toggle-button {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #ebd620 solid 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle-button i {
  color: #101010;
  font-size: 1.5rem;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.enabled {
  background-color: #ebd620;
}

.enabled:hover {
  cursor: pointer;
  background-color: #ac9d1b;
}

.enabled .fa-times {
  display: none;
}

.disabled {
  background-color: #101010;
}

.disabled .fa-times {
  display: none;
}

.disabled:hover {
  cursor: pointer;
}

.disabled:hover > i {
  cursor: pointer;
  color: #ebd620;
}

.crossed .fa-times {
  color: #ebd620;
}

.crossed .fa-check {
  display: none;
}

.crossed:hover {
  cursor: pointer;
}

.list .person {
  margin-bottom: 20px !important;
}

.list .person img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.list .movie {
  -webkit-transition: background-color, 0.3s ease;
  transition: background-color, 0.3s ease;
}

.list .movie:hover {
  background-color: #242424;
  cursor: pointer;
}

.horiz-list {
  margin-bottom: 20px;
  min-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: auto;
}

.horiz-list .movie {
  margin: 3px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 5px;
  max-width: 120px;
}

.horiz-list .movie h3, .horiz-list .movie b {
  font-size: 1.25rem;
}

.horiz-list .movie img {
  width: 120px;
  height: 180px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.vert-list {
  width: 100%;
}

.vert-list .row {
  margin: 5px;
  padding: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vert-list .row div {
  padding-left: 75px;
}

.vert-list .row img {
  position: absolute;
  left: 5px;
}

.vert-list .movie {
  height: 110px;
  border-radius: 10px;
}

.vert-list .movie img {
  width: 70px;
  height: 110px;
  border-radius: 5px;
}

.mega-form {
  margin-bottom: 20px;
}

.mega-form fieldset {
  padding: 15px;
  border: none;
}

.mega-form legend {
  font-size: 3rem;
  color: #ebd620;
  font-family: Roboto;
  font-weight: bold;
}

.mega-form .form-group {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mega-form .form-group .form-label {
  font-family: Roboto;
  color: #949494;
  font-size: 2rem;
  font-weight: bold;
}

.mega-form .form-group .form-field {
  padding: 0.25rem;
  font-size: 2rem;
  font-family: Roboto;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  outline: none;
  max-width: 40rem;
}

.mega-form .check {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.mega-form .is-invalid {
  border: #ff4444 2px solid;
}

.mega-form .invalid-feedback {
  color: #ff4444;
}

.mega-form .invalid-feedback span {
  font-size: 1rem;
  font-family: Roboto;
}

.mega-form .form-btn {
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
  margin-left: 25px;
}

.button {
  border: none;
  color: #1A1A1A;
  font-family: Roboto;
  background-color: #ebd620;
  font-weight: bold;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  outline: none;
}

.button p {
  color: #1A1A1A;
}

.button:hover {
  cursor: pointer;
  background-color: #ac9d1b;
  color: #494949;
}

.button:hover:hover > p {
  color: #494949;
}

#compare-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

#compare-title #q-icon {
  margin-left: 10px;
  font-size: 3rem;
  color: #ebd620;
}

#compare-title #q-icon:hover {
  color: #ac9d1b;
}

#poster-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

#poster-boxes #vs-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#poster-boxes #vs-box h1 {
  font-size: 7rem;
}

#poster-boxes .movie-name {
  text-align: center;
  color: #949494;
}

#poster-boxes .movie {
  width: 40%;
  position: relative;
}

#poster-boxes .movie .not-seen-btn {
  margin: 3px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 90px solid transparent;
  border-left: 90px solid #1A1A1A;
}

#poster-boxes .movie .not-seen-btn i {
  position: absolute;
  font-size: 2.3rem;
  color: #949494;
  top: 15px;
  left: -83px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#poster-boxes .movie .not-seen-btn i:hover {
  cursor: pointer;
  color: #ff4444;
}

#poster-boxes .movie-box {
  width: 100%;
  border: 3px #1A1A1A solid;
  border-radius: 5px;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
}

#poster-boxes .movie-box:hover {
  cursor: pointer;
  border-color: #ebd620;
}

#poster-boxes .movie-box img {
  width: 100%;
  max-height: 100%;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  padding: 10px;
  font-size: 1.25rem;
  opacity: 0;
  visibility: hidden;
  width: 300px;
  background-color: #1A1A1A;
  color: #949494;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -150px;
  -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.tooltip .tooltiptext i {
  color: #ebd620;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1A1A1A transparent transparent transparent;
}

.tooltip .tooltip-bot {
  bottom: auto;
  top: 130%;
}

.tooltip .tooltip-bot::after {
  content: " ";
  position: absolute;
  top: auto;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #1A1A1A transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 100%;
}

.tooltip:active .tooltiptext {
  visibility: visible;
  opacity: 100%;
}

.alert {
  margin: 10px;
  padding: 5px;
  border-radius: 7px;
  border: 3px solid;
}

.alert strong {
  color: #949494;
  font-size: 1.5rem;
  font-family: Roboto;
}

.alert-success {
  border-color: rgba(15, 179, 15, 0.5);
}

.alert-warning {
  border-color: rgba(179, 15, 15, 0.5);
}

@media screen and (max-width: 3000px) {
  nav #navbar {
    width: 1700px;
  }
  #main-block {
    width: 1600px;
  }
}

@media screen and (max-width: 2300px) {
  nav #navbar {
    width: 1400px;
  }
  #main-block {
    width: 1300px;
  }
}

@media screen and (max-width: 1500px) {
  nav #navbar {
    width: 1100px;
  }
  #main-block {
    width: 1050px;
  }
}

@media screen and (max-width: 1100px) {
  nav #navbar {
    width: 800px;
  }
  nav #navbar #nav-comp {
    display: none;
  }
  nav form input[type=text] {
    width: 20rem;
  }
  nav form input[type=text]:focus {
    width: 25rem;
  }
  #main-block {
    width: 750px;
  }
  #menu-comp {
    display: block !important;
  }
}

@media screen and (max-width: 769px) {
  nav #navbar {
    width: 100%;
  }
  nav #navbar #logonbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-left: 5px;
  }
  nav #navbar #logonbar #logo {
    height: 25px;
  }
  nav #navbar form i {
    right: 9px;
    color: #949494;
  }
  nav #navbar form input[type=text] {
    width: 1.8rem;
    height: 1.8rem;
    font-size: 0;
    border-radius: 1.8rem;
    background-color: transparent;
  }
  nav #navbar form input[type=text]:focus {
    position: absolute;
    right: -5.5rem;
    font-size: 1.25rem;
    width: 27.5rem;
    background-color: white;
  }
  nav #navbar form input[type=text]:focus + i {
    right: -4.5rem;
    color: #1A1A1A;
  }
  nav #navbar #user-drop {
    font-size: 0;
  }
  nav #navbar div > i, nav #navbar img {
    margin: 2px !important;
  }
  #main-block {
    width: 95%;
  }
  #main-block .hidden-dropdown {
    width: 100% !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  #index-middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  #index-middle #index-compare {
    width: 100%;
  }
  #index-middle #index-user-toplist {
    margin-top: 30px;
    padding-right: 15px;
    width: 100%;
  }
  #compare-title {
    margin-top: -2rem;
    margin-bottom: 5px;
  }
  #compare-title h1 {
    font-size: 2rem;
  }
  #poster-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  #poster-boxes .movie {
    width: 100%;
    height: 40vh;
  }
  #poster-boxes .movie .movie-name {
    font-size: 1.5rem;
  }
  #poster-boxes .movie img {
    height: 35vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #poster-boxes #vs-box {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */