 $c-yellow: #ebd620;
 $hover-yellow: #ac9d1b;
 $sec-bg: #1A1A1A;
 $hover-bg: #242424;
 $prim-bg: #101010;
 $text-gray: #949494;
 $error-red: rgb(255, 68, 68);

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 80%;
    overflow-x: hidden;
}
body {
    min-width: 100%;
    overflow-x: hidden;
}

h1 {
    color: $c-yellow;
    font-size: 4rem;
    font-family: Roboto;
}

h2 {
    color: $c-yellow;
    font-size: 3rem;
    font-family: Roboto;
}

h3 {
    color: $c-yellow;
    font-size: 2rem;
    font-family: Roboto;
}

h4 {
    color: $c-yellow;
    font-size: 1.5rem;
    font-family: Roboto;
}

h5 {
    color: $text-gray;
    font-size: 1rem;
    font-family: Roboto;
}

p {
    font-size: 0.75rem;
    color: $text-gray;
    font-family: Roboto;
}

a {
    color: $text-gray;
    font-size: 1.5rem;
    font-family: Roboto;
    text-decoration: none;
    font-weight: bold;
}

body {
    background-color: $prim-bg;
    justify-content: center;
}

.collapse-text {
    a {
        color: $c-yellow;
        margin-left: 10px;
    }
}

input[type=checkbox] {
    height: 25px;
    width: 25px;
    margin: 5px;
    color: $c-yellow;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $sec-bg;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $hover-bg;
  }


//Navbar
nav {
    height: 50px;
    background-color: $sec-bg;
    display: flex;
    flex-flow: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    #navbar {
        width: 1200px;
        display: flex;
        flex-flow: row;
        text-align: center;
        align-items: center;
        justify-content: space-between;

        #logonbar {
            #logo {
                margin-top: 7px;
                height: 50px;
            }
        }
        div {
            display: flex;
            flex-flow: row;
            text-align: center;
            align-items: center;
            width: fit-content;
            justify-content: center;
            align-items: center;

            #user-img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
        }
        div > * {
              margin-right: 10px;     
        }
    }

    i {
        color: $text-gray;
        font-size: 2rem;
    }

    a {
        padding: 3px;
        border-radius: 6px;

        &:hover {
            background-color: $hover-bg;
            cursor: pointer;
        }
    }

    form {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: fit-content;

        input[type=text] {
            padding: 6px;
            font-size: 1rem;
            font-family: Roboto;
            border: none;
            position: relative;
            width: 30rem;
            border-radius: 15px;
            outline: none;
            transition: all 0.4s ease;
        }

        input[type=text]:focus {
            width: 40rem;
        }

        i {
            position: absolute;
            right: 10px;
            color: $sec-bg;
            font-size: 1.5rem;
            pointer-events: none;
        }
    }
 }

#outer-block {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-bottom: 100px;
}

#main-block {
    position: relative;
    width: 1100px;
    margin-top: 30px;


    .hidden-dropdown {
        background-color: $sec-bg;
        position: absolute;
        height: fit-content;
        border-radius: 0 0 10px 10px;
        top: -30px;
        z-index: 10;
        outline: none!important;
    }

    #search-results {
        margin-right: 10%;
        width: 35rem;
        right: 0;

        .searched {
            padding: 15px;
            display: flex;
            flex-direction: row;

            .searched-content {
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            .searched-headline {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    font-size: 1rem;
                }
            }

            &:hover{
                background-color: $hover-bg;
            }
        }

        .movie {
            .searched-img {
                background-color: $text-gray;
                border-radius: 5px;
                width: 116px;
                height: 141px;

                img {
                    border-radius: 5px;
                }
            }
        }

        .person {
            .searched-img {
                background-color: $text-gray;
                border-radius: 50%;
                width: 94px;
                height: 94px;

                img {
                    width: 94px;
                    height: 94px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            p {
                font-size: 1rem;
            }
        }
    }

    #sign-in-box {
        width: 20rem;
        display: flex;
        flex-direction: column;
        margin-right: -4%;
        right: 0;
        
        .item {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            transition: all 0.3s ease;

            &:hover {
                background-color: $hover-bg;
            }

            p {
                font-size: 1.2rem;
            }

            i {
                font-size: 1.5rem;
                color: $c-yellow;
            }
        }
        .register {
            margin: 5px;
            padding: 8px;
            border-radius: 7px;

            i, p {
                transition: all 0.3s ease;
                color: $sec-bg;
            }

            &:hover{
                cursor: pointer;
                background-color: $hover-yellow;
                color: rgb(73, 73, 73);
                &:hover > p, i {
                    color: rgb(73, 73, 73);
                }
            }
        }
    }

    #user-options-box {
        width: 18rem;
        display: flex;
        flex-direction: column;
        margin-right: -4%;
        overflow: hidden;
        right: 0;
        
        .item {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            transition: all 0.3s ease;

            &:hover {
                background-color: $hover-bg;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    #main-menu {
        width: 20rem;
        display: flex;
        flex-direction: column;
        margin-right: -4%;
        overflow: hidden;
        left: 0;

        #menu-comp {
            display: none;
        }
        
        .item {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            transition: all 0.3s ease;

            &:hover {
                background-color: $hover-bg;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }
 }

 footer {
     position: absolute;
     bottom: 0;
     background-color: $sec-bg;
     justify-content: center;
     display: flex;
     width: 100%;
     padding: 7px;

     #foot-list {
         display: flex;
         flex-flow: column;

         a {
             margin: 3px;
         }
     }
 }

 #index-middle {
     display: flex;
     justify-content: space-between;
     min-height: 400px;
     margin-top: 25px;
     margin-bottom: 30px;

    #index-compare {
        text-align: center;
        width: 50%;
        h1 {
            font-size: 5rem!important;
        }
        h2 {
            font-size: 2rem!important;
        }

        #compare-title {
            h1 {
                font-size: 4rem!important;
            }
        }
    }

    #index-user-toplist {
        width: 40%;
    }
}

#toplist-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-user {
    position: relative;
    margin-bottom: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;

    img {
        border-radius: 50%;
        height: 70px;
        margin-right: 15px;
    }
    .top-vote {
        position: absolute;
        right: 0;
    }
}

 .register-box {
    padding: 8px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
    width: 17rem;

    i, p {
        font-size: 1.2rem;
    }
}


.toggle-button {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $c-yellow solid 3px;    
    transition: all 0.3s ease;
    i {
        color: $prim-bg;
        font-size: 1.5rem;
        pointer-events: none;
        transition: all 0.3s ease;
    }
}

.enabled {
    background-color: $c-yellow;
    &:hover {
        cursor: pointer;
        background-color: $hover-yellow;
    }
    .fa-times {
        display: none;
    }
}

.disabled {
    background-color: $prim-bg;

    .fa-times {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }

    &:hover > i {
        cursor: pointer;
        color: $c-yellow;
    }
}

.crossed {
    .fa-times {
        color: $c-yellow;
    }
    .fa-check {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }
}

.list {
    .person {
        margin-bottom: 20px!important;
        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .movie {
        transition: background-color, 0.3s ease;
        &:hover {
            background-color: $hover-bg;
            cursor: pointer;
        }
    }
}

.horiz-list {
    margin-bottom: 20px;
    min-height: 180px;
    display: flex;
    width: 100%;
    overflow: auto;

    .movie {
        margin: 3px;
        padding: 3px;
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        max-width: 120px;

        h3, b {
            font-size: 1.25rem;
        }

        img {
            width: 120px;
            height: 180px;
            border-radius: 5px;
            margin-bottom: 5px;
        }
    }
}

.vert-list {
    width: 100%;

    .row {
        margin: 5px;
        padding: 5px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        align-items: center;
    
        div {
            padding-left: 75px;
        }
    
        img {
            position: absolute;
            left: 5px;
        }
    }

    .movie {
        height: 110px;
        border-radius: 10px;
        img {
            width: 70px;
            height: 110px;
            border-radius: 5px;
        }
    }
}

//Forms such as login, register etc
.mega-form {
    margin-bottom: 20px;
    fieldset {
        padding: 15px;
        border: none;
    }

    legend {
        font-size: 3rem;
        color: $c-yellow;
        font-family: Roboto;
        font-weight: bold;
    }

    .form-group {
        padding: 10px;
        display: flex;
        flex-direction: column;

        .form-label {
            font-family: Roboto;
            color: $text-gray;
            font-size: 2rem;
            font-weight: bold;
        }

        .form-field {
            padding: 0.25rem;
            font-size: 2rem;
            font-family: Roboto;
            font-weight: bold;
            border-radius: 10px;
            border: none;
            outline: none;
            max-width: 40rem;
        }
    }

    .check {
        flex-direction: row;
        align-items: center;
        font-size: 1.5rem;
    }

    .is-invalid {
        border: $error-red 2px solid;
    }

    .invalid-feedback {
        color: $error-red;
        
        span {
            font-size: 1rem;
            font-family: Roboto;
        }
    }

    .form-btn {
        font-size: 2rem;
        padding: 10px;
        border-radius: 10px;
        margin-left: 25px;
    }
}

.button {
    border: none;
    color: $sec-bg;
    font-family: Roboto;
    background-color: $c-yellow;
    font-weight: bold;
    transition: 0.3s all ease;
    outline: none;

    p {
        color: $sec-bg;
    }

    &:hover{
        cursor: pointer;
        background-color: $hover-yellow;
        color: rgb(73, 73, 73);
        &:hover > p {
            color: rgb(73, 73, 73);
        }
    }
}

#compare-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

    #q-icon {
        margin-left: 10px;
        font-size: 3rem;
        color: $c-yellow;

        &:hover {
            color: $hover-yellow;
        }
    }
}

#poster-boxes {
    display: flex;
    justify-content: space-between;
    height: 100%;

    #vs-box {
        display: flex;
        align-items: center;

        h1 {
            font-size: 7rem;
        }
    }

    .movie-name {
        text-align: center;
        color: $text-gray;
    }

    .movie {
        width: 40%;
        position: relative;
        
        .not-seen-btn {
            margin: 3px;
            position: absolute;
            width: 0;
            height: 0;
            border-top: 0px solid transparent;
            border-bottom: 90px solid transparent;
            border-left: 90px solid $sec-bg;

            i {
                position: absolute;
                font-size: 2.3rem;
                color: $text-gray;
                top: 15px;
                left: -83px;
                transition: color 0.3s ease;

                &:hover {
                    cursor: pointer;
                    color: $error-red;
                }
            }

            
        }
    }

    .movie-box {
        width: 100%;
        border: 3px $sec-bg solid;
        border-radius: 5px;
        transition: border-color 0.5s ease;

        &:hover {
            cursor: pointer;
            border-color: $c-yellow;
        }

        img {
            width: 100%;
            max-height: 100%;
        }
    }
}

.tooltip {
    position: relative;

    .tooltiptext {
        padding: 10px;
        font-size: 1.25rem;
        opacity: 0;
        visibility: hidden;
        width: 300px;
        background-color: $sec-bg;
        color: $text-gray;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 120%;
        left: 50%;
        margin-left: -150px;
        transition: visibility 0.3s ease, opacity 0.3s ease;

        i {
            color: $c-yellow;
        }

        &::after {
            content: " ";
            position: absolute;
            top: 100%; 
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $sec-bg transparent transparent transparent;
        }
    }

    .tooltip-bot {
        bottom: auto;
        top: 130%;

        &::after {
            content: " ";
            position: absolute;
            top: auto; 
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent $sec-bg transparent;
        }
    }

    &:hover .tooltiptext {
        visibility: visible;
        opacity: 100%;
    }
    &:active .tooltiptext {
        visibility: visible;
        opacity: 100%;
    }
}

//Flash alerts
.alert {
    margin: 10px;
    padding: 5px;
    border-radius: 7px;
    border: 3px solid;

    strong {
        color: $text-gray;
        font-size: 1.5rem;
        font-family: Roboto;
    }
}

.alert-success {
    border-color: rgba(15, 179, 15, 0.5);
}

.alert-warning {
    border-color: rgba(179, 15, 15, 0.5);
}

@media screen and (max-width: 3000px) {
    nav {
        #navbar {
            width: 1700px;
        }
    }
    #main-block {
        width: 1600px;
    }
}

@media screen and (max-width: 2300px) {
    nav {
        #navbar {
            width: 1400px;
        }
    }
    #main-block {
        width: 1300px;
    }
}

@media screen and (max-width: 1500px) {
    nav {
        #navbar {
            width: 1100px;
        }
    }
    #main-block {
        width: 1050px;
    }
}

@media screen and (max-width: 1100px) {
    nav {
        #navbar {
            width: 800px;

            #nav-comp {
                display: none;
            }
        }
        form {
            input[type=text] {
                width: 20rem;
            }
    
            input[type=text]:focus {
                width: 25rem;
            }
        }
    }
    #main-block {
        width: 750px;
    }
    #menu-comp {
        display: block!important;
    }
}

@media screen and (max-width: 769px) {
    nav {
        #navbar {
            width: 100%;

            #logonbar {
                flex-direction: row-reverse;
                margin-left: 5px;
                #logo {
                    height: 25px;
                }
            }

            form {
                i {
                    right: 9px;
                    color: $text-gray;
                }
                input[type=text] {
                    width: 1.8rem;
                    height: 1.8rem;
                    font-size: 0;
                    border-radius: 1.8rem;
                    background-color: transparent;
                }
        
                input[type=text]:focus {
                    position: absolute;
                    right: -5.5rem;
                    font-size: 1.25rem;
                    width: 27.5rem;
                    background-color: white;
                    + i {
                        right: -4.5rem;
                        color: $sec-bg;
                    }
                }
 
            }
            #user-drop {
                font-size: 0;
            }
            div > i, img {
                margin: 2px!important;
            }
        }
    }
    #main-block {
        width: 95%;

        .hidden-dropdown {
            width: 100%!important;
            margin-left: 5px!important;
            margin-right: 5px!important;
        }
    }
    #index-middle {
        flex-flow: column;
        #index-compare {
            width: 100%;
        }
        #index-user-toplist {
            margin-top: 30px;
            padding-right: 15px;
            width: 100%;
        }
    }
    #compare-title {
        margin-top: -2rem;
        margin-bottom: 5px;
        h1 {
            font-size: 2rem;
        }
    }
    #poster-boxes {
        flex-flow: column;
        .movie {
            width: 100%;
            height: 40vh;
            .movie-name {
                font-size: 1.5rem;
            }
            img {
                height: 35vh;
                object-fit: cover;
            }
        }
        #vs-box {
            display: none;
        }
    }
}