 $c-yellow: #ebd620;
 $hover-yellow: #ac9d1b;
 $sec-bg: #1A1A1A;
 $hover-bg: #242424;
 $prim-bg: #101010;
 $text-gray: #949494;
 $error-red: rgb(255, 68, 68);

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: $c-yellow;
    font-size: 4rem;
    font-family: Roboto;
}

h2 {
    color: $c-yellow;
    font-size: 3rem;
    font-family: Roboto;
}

h3 {
    color: $c-yellow;
    font-size: 2rem;
    font-family: Roboto;
}

h4 {
    color: $c-yellow;
    font-size: 1.5rem;
    font-family: Roboto;
}

h5 {
    color: $text-gray;
    font-size: 1rem;
    font-family: Roboto;
}

p {
    font-size: 0.75rem;
    color: $text-gray;
    font-family: Roboto;
}

a {
    color: $text-gray;
    font-size: 1.5rem;
    font-family: Roboto;
    text-decoration: none;
    font-weight: bold;
}

body {
    background-color: $prim-bg;
    justify-content: center;
}

.collapse-text {
    a {
        color: $c-yellow;
        margin-left: 10px;
    }
}

input[type=checkbox] {
    height: 25px;
    width: 25px;
    margin: 5px;
    color: $c-yellow;
}

//Navbar
nav {
    height: 50px;
    background-color: $sec-bg;
    display: flex;
    flex-flow: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    #navbar {
        width: 1200px;
        display: flex;
        flex-flow: row;
        text-align: center;
        align-items: center;
        justify-content: space-between;

        div {
            display: flex;
            flex-flow: row;
            text-align: center;
            align-items: center;
            width: fit-content;
            justify-content: center;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
        }
        div > * {
              margin-right: 10px;     
        }
    }

    i {
        color: $text-gray;
        font-size: 2rem;
    }

    a {
        padding: 3px;
        border-radius: 6px;

        &:hover {
            background-color: $hover-bg;
            cursor: pointer;
        }
    }

    form {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: fit-content;

        input[type=text] {
            padding: 6px;
            font-size: 1rem;
            font-family: Roboto;
            border: none;
            position: relative;
            width: 25rem;
            border-radius: 15px;
            outline: none;
            transition: all 0.4s ease;
        }

        input[type=text]:focus {
            width: 35rem;
        }

        i {
            position: absolute;
            right: 10px;
            color: $sec-bg;
            font-size: 1.5rem;
        }
    }
 }

#outer-block {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

}

#main-block {
    position: relative;
    width: 1100px;
    height: 100vh;
    margin-top: 30px;

    .hidden-dropdown {
        background-color: $sec-bg;
        position: absolute;
        height: fit-content;
        border-radius: 0 0 10px 10px;
        top: -30px;
        z-index: 10;
    }

    #search-results {
        margin-right: 10%;
        width: 35rem;
        right: 0;

        .searched {
            padding: 15px;
            display: flex;
            flex-direction: row;

            .searched-content {
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            .searched-headline {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    font-size: 1rem;
                }
            }

            &:hover{
                background-color: $hover-bg;
            }
        }

        .movie {
            .searched-img {
                background-color: $text-gray;
                border-radius: 5px;
                width: 116px;
                height: 141px;

                img {
                    border-radius: 5px;
                }
            }
        }

        .person {
            .searched-img {
                background-color: $text-gray;
                border-radius: 50%;
                width: 94px;
                height: 94px;

                img {
                    width: 94px;
                    height: 94px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            p {
                font-size: 1rem;
            }
        }
    }

    #sign-in-box {
        width: 20rem;
        display: flex;
        flex-direction: column;
        margin-right: -4%;
        right: 0;
        
        .item {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            transition: all 0.3s ease;

            &:hover {
                background-color: $hover-bg;
            }

            p {
                font-size: 1.2rem;
            }

            i {
                font-size: 1.5rem;
                color: $c-yellow;
            }
        }
        .register {
            margin: 5px;
            padding: 8px;
            border-radius: 7px;

            i, p {
                transition: all 0.3s ease;
                color: $sec-bg;
            }

            &:hover{
                cursor: pointer;
                background-color: $hover-yellow;
                color: rgb(73, 73, 73);
                &:hover > p, i {
                    color: rgb(73, 73, 73);
                }
            }
        }
    }

    #user-options-box {
        width: 13rem;
        display: flex;
        flex-direction: column;
        margin-right: -4%;
        overflow: hidden;
        right: 0;
        
        .item {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            transition: all 0.3s ease;

            &:hover {
                background-color: $hover-bg;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    #main-menu {
        width: 20rem;
        display: flex;
        flex-direction: column;
        margin-right: -4%;
        overflow: hidden;
        left: 0;

        #menu-comp {
            display: none;
        }
        
        .item {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            transition: all 0.3s ease;

            &:hover {
                background-color: $hover-bg;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }
 }

 .register-box {
    padding: 8px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
    width: 17rem;

    i, p {
        font-size: 1.2rem;
    }
}


.toggle-button {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $c-yellow solid 3px;    
    transition: all 0.3s ease;
    i {
        color: $prim-bg;
        font-size: 1.5rem;
        pointer-events: none;
        transition: all 0.3s ease;
    }
}

.enabled {
    background-color: $c-yellow;
    &:hover {
        cursor: pointer;
        background-color: $hover-yellow;
    }
}

.disabled {
    background-color: $prim-bg;

    &:hover {
        cursor: pointer;
    }

    &:hover > i {
        cursor: pointer;
        color: $c-yellow;
    }
}

#vert-list {
    width: 100%;

    .row {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        align-items: center;
    
        div {
            padding-left: 75px;
        }
    
        img {
            position: absolute;
            left: 0;
        }
    }

    .person {
        
        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .movie {
        margin-bottom: 50px;
        margin-top: 30px;
        img {
            width: 70px;
            height: 100px;
            border-radius: 5px;
        }
    }
}

//Forms such as login, register etc
.mega-form {
    margin-bottom: 20px;
    fieldset {
        padding: 15px;
        border: none;
    }

    legend {
        font-size: 3rem;
        color: $c-yellow;
        font-family: Roboto;
        font-weight: bold;
    }

    .form-group {
        padding: 10px;
        display: flex;
        flex-direction: column;

        .form-label {
            font-family: Roboto;
            color: $text-gray;
            font-size: 2rem;
            font-weight: bold;
        }

        .form-field {
            padding: 0.25rem;
            font-size: 2rem;
            font-family: Roboto;
            font-weight: bold;
            border-radius: 10px;
            border: none;
            outline: none;
        }
    }

    .check {
        flex-direction: row;
        align-items: center;
        font-size: 1.5rem;
    }

    .is-invalid {
        border: $error-red 2px solid;
    }

    .invalid-feedback {
        color: $error-red;
        
        span {
            font-size: 1rem;
            font-family: Roboto;
        }
    }

    .form-btn {
        font-size: 2rem;
        padding: 10px;
        border-radius: 10px;
        margin-left: 25px;
    }
}

.button {
    border: none;
    color: $sec-bg;
    font-family: Roboto;
    background-color: $c-yellow;
    font-weight: bold;
    transition: 0.3s all ease;
    outline: none;

    p {
        color: $sec-bg;
    }

    &:hover{
        cursor: pointer;
        background-color: $hover-yellow;
        color: rgb(73, 73, 73);
        &:hover > p {
            color: rgb(73, 73, 73);
        }
    }
}

//Flash alerts
.alert {
    margin: 10px;
    padding: 5px;
    border-radius: 7px;
    border: 3px solid;

    strong {
        color: $text-gray;
        font-size: 1.5rem;
        font-family: Roboto;
    }
}

.alert-success {
    border-color: rgba(15, 179, 15, 0.5);
}

.alert-warning {
    border-color: rgba(179, 15, 15, 0.5);
}

@media screen and (max-width: 1500px) {
    nav {
        #navbar {
            width: 1100px;
        }
        form {
            input[type=text]:focus {
                width: 30rem;
            }
        }
    }
    #main-block {
        width: 1050px;
    }
}

@media screen and (max-width: 1100px) {
    nav {
        #navbar {
            width: 800px;

            #nav-comp {
                display: none;
            }
        }
        form {
            input[type=text] {
                width: 15rem;
            }
    
            input[type=text]:focus {
                width: 15rem;
            }
        }
    }
    #main-block {
        width: 750px;
    }
    #menu-comp {
        display: block!important;
    }
}

@media screen and (max-width: 769px) {
    nav {
        #navbar {
            width: 100%;
        }
    }
    #main-block {
        width: 100%;
    }
}