#watch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
}

#watch-settings {
  min-height: 63px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 70%;
}

#watch-settings #category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#watch-settings .category-item {
  background-color: #1A1A1A;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#watch-settings .category-item i {
  margin-left: 10px;
  color: #949494;
}

#watch-settings .category-item i:hover {
  cursor: pointer;
  color: #ff4444;
}

#watch-settings #add-category {
  position: absolute;
  right: 0;
  background-color: #1A1A1A;
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#watch-settings #add-category i {
  color: #ebd620;
  font-size: 1.5rem;
}

#watch-settings #add-category i:hover {
  cursor: pointer;
  color: #ac9d1b;
}

#watch-settings #add-category #list-of-cats {
  height: 95%;
  display: none;
  overflow-y: scroll;
}

#watch-settings #add-category #list-of-cats .cat {
  padding: 4px;
  width: 95%;
  border-radius: 5px;
}

#watch-settings #add-category #list-of-cats .cat:hover {
  cursor: pointer;
  background-color: #242424;
}

#watch-settings .closed:hover {
  cursor: pointer;
  background-color: #242424 !important;
}

#lower-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

#movies-box {
  width: 70%;
  height: 70vh;
  border: #1A1A1A 3px solid;
  border-radius: 10px;
}

#users-box {
  margin-left: 15px;
  max-width: 30%;
}

#users-box #user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

#users-box .user-prof {
  position: relative;
}

#users-box .user-prof img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: transparent 3px solid;
}

#users-box .user-prof i {
  font-size: 2.6rem;
  position: absolute;
  top: 25%;
  right: 35%;
  opacity: 0;
  color: #ff4444;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#users-box .user-prof:hover > i {
  opacity: 100%;
}

#users-box .user-prof:hover > img {
  opacity: 70%;
  border: #ff4444 3px solid;
}

#users-box .user-prof:hover {
  cursor: pointer;
}

.user-search input[type=text] {
  width: 20rem;
}

#user-search-results {
  display: none;
  background-color: #1A1A1A;
  min-height: 70px;
  width: 19rem;
  margin-top: -15px;
  padding: 10px;
  border-radius: 7px;
}

#user-search-results .searched-user {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  border-radius: 35px;
  padding: 5px;
}

#user-search-results .searched-user img {
  margin-right: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#user-search-results .searched-user:hover {
  background-color: #242424;
  cursor: pointer;
}
/*# sourceMappingURL=watchstyle.css.map */