$c-yellow: #ebd620;
$hover-yellow: #ac9d1b;
$sec-bg: #1A1A1A;
$hover-bg: #242424;
$prim-bg: #101010;
$text-gray: #949494;
$error-red: rgb(255, 68, 68);

#watch-wrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
}

#watch-settings {
    min-height: 63px;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 60px;
    width: fit-content;
    max-width: 70%;

    #category-list {
        display: flex;
        flex-wrap: wrap;

    }
    .category-item {
        background-color: $sec-bg;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        user-select: none;

        i {
            margin-left: 10px;
            color: $text-gray;
            &:hover {
                cursor: pointer;
                color: $error-red;
            }
        }
    }
    #add-category {
        position: absolute;
        right: 0;
        background-color: $sec-bg;
        border-radius: 5px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 5;
        i {
            color: $c-yellow;
            font-size: 1.5rem;
            &:hover {
                cursor: pointer;
                color: $hover-yellow;
            }
        }
        #list-of-cats {
            height: 95%;
            display: none;
            overflow-y: scroll;

            .cat {
                padding: 4px;
                width: 95%;
                border-radius: 5px;
                &:hover {
                    cursor: pointer;
                    background-color: $hover-bg;
                }
            }
        }
    }
    .closed {
        &:hover {
            cursor: pointer;
            background-color: $hover-bg!important;
        }
    }
}

#lower-wrapper {
    display: flex;
    margin-top: 10px;
}

#movies-box {
    width: 70%;
    height: 70vh;
    border: $sec-bg 3px solid;
    border-radius: 10px;
    overflow-y: auto;
    padding-right: 10px;
    a {
        width: 100%;
    }

    .rec-movie {
        display: grid;
        width: 100%;
        grid-template-areas:    "img title"
                                "img .";
        grid-template-rows:    auto auto;
        grid-template-columns: 110px auto;
        padding: 5px;
        img {
            grid-area: img;
            border-radius: 5px;

        }
        h1 {
            grid-area: title;
            font-size: 2rem;
        }
        p {
            font-size: 1.25rem;
        }
    }
}

#users-box {
    margin-left: 15px;
    max-width: 30%;

    #user-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    
    .user-prof {
        position: relative;
        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            transition: all 0.3s ease;
            border: transparent 3px solid;
        }

        i {
            font-size: 2.6rem;
            position: absolute;
            top: 25%;
            right: 35%;
            opacity: 0;
            color: $error-red;
            transition: all 0.3s ease;
        }
        &:hover > i{
            opacity: 100%;
        }
        &:hover > img{
            opacity: 70%;
            border: $error-red 3px solid;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.user-search {
    input[type=text] {
        width: 20rem;
    }
}

#user-search-results {
    display: none;
    background-color: $sec-bg;
    min-height: 70px;
    width: 19rem;
    margin-top: -15px;
    padding: 10px;
    border-radius: 7px;

    .searched-user {
        align-items: center;
        display: flex;
        margin-top: 10px;
        border-radius: 35px;
        padding: 5px;
        img {
            margin-right: 5px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        &:hover {
            background-color: $hover-bg;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1100px) {
    #watch-settings {
        flex-flow: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 769px) {
    #add-category {
        position: relative!important;
        margin-left: 10px;
    }
    #lower-wrapper {
        flex-flow: column-reverse;

        #movies-box {
            width: 100%;
        }

        #users-box {
            max-width: 100%;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}