{% extends 'base.html' %}

{% block head %}
    <script defer src="{{ url_for('static', filename='scripts/compare.js') }}"></script>
{% endblock %}

{% block title %}Comparing Movies{% endblock %}


{% block content %}
        <div id="compare-title">
            <h1>Which is better?  </h1> <i id="q-icon" class="far fa-question-circle tooltip"><span id="common-tt" class="tooltiptext tooltip-bot"></span></i>
        </div>
        <div id="poster-boxes">
            <div class="movie">
                <div class="not-seen-btn tooltip" id="ns-movie1"><i class="far fa-eye-slash tooltip"><span class="tooltiptext"><a>Not seen?</a></span></i>
                </div>
                <div class="movie-box" id="movie1-box"></div>
                <h2 class="movie-name" id="name1"></h2>
            </div>
            <div id="vs-box"><h1>VS</h1></div>
            <div class="movie">
                <div class="not-seen-btn" id="ns-movie2"><i class="far fa-eye-slash tooltip"><span class="tooltiptext"><a>Not seen?</a></span></i>
                    
                </div>
                <div class="movie-box" id="movie2-box"></div>
                <h2 class="movie-name" id="name2"></h2>
            </div>
        </div>
    
{% endblock %}
