{% extends 'base.html' %}


{% block title %}Cinelow{% endblock %}

{% block head %}
    <script defer src="{{ url_for('static', filename='scripts/compare.js') }}"></script>
{% endblock %}


{% block content %}
    {% if current_user.is_authenticated %}
        <h3>Top Picks For You</h3>
        <div class="list horiz-list movie-list" data-type="recommended" data-id="{{current_user.id}}" data-amount="15" data-sname="0"></div>

        <h3>Trending This Week</h3>
        <div class="list horiz-list movie-list" data-type="trending" data-id="0" data-amount="15" data-sname="0"></div>
    {% else %}
        <h3>Top Movies</h3>
        <div class="list horiz-list movie-list" data-type="category" data-id="0" data-amount="15" data-show_score="3" data-sname="0"></div>

        <h3>Trending This Week</h3>
        <div class="list horiz-list movie-list" data-type="trending" data-id="0" data-amount="15" data-sname="0"></div>
    {% endif %}

    <div id="index-middle">
        <div id="index-compare">
            <a href="{{url_for('compare')}}">
                <div id="compare-title">
                    <h1>Which is better?  </h1> <i id="q-icon" class="far fa-question-circle tooltip"><span id="common-tt" class="tooltiptext tooltip-bot"></span></i>
                </div>
            </a>
            <br />
            <div id="poster-boxes">
                <div class="movie">
                    <div class="not-seen-btn tooltip" id="ns-movie1"><i class="far fa-eye-slash tooltip"><span class="tooltiptext"><a>Not seen?</a></span></i>
                    </div>
                    <div class="movie-box" id="movie1-box"></div>
                    <h2 class="movie-name" id="name1"></h2>
                </div>
                <div id="vs-box"><h1>VS</h1></div>
                <div class="movie">
                    <div class="not-seen-btn" id="ns-movie2"><i class="far fa-eye-slash tooltip"><span class="tooltiptext"><a>Not seen?</a></span></i>
                        
                    </div>
                    <div class="movie-box" id="movie2-box"></div>
                    <h2 class="movie-name" id="name2"></h2>
                </div>
            </div>
        </div>

        <div id="index-user-toplist">
            <div id="toplist-titles">
                <a href="{{url_for('usertoplist')}}"><h2>User Toplist</h2></a>
                <h3>Votes:</h3>
            </div>
            <div id="user-toplist">
                {% for user in top_users %}
                    <div class="top-user">
                        <img src="{{url_for('static', filename='profilepics/' + user[0].image_file)}}" alt="">
                        <a href="{{url_for('user', uname=user[0].username)}}"><h3>{{user[0].username}}</h3></a>
                        <h4 class="top-vote">{{user[1]}}</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if current_user.is_authenticated %}
        <h3>Top Movies</h3>
        <div class="list horiz-list movie-list" data-type="category" data-id="0" data-amount="15" data-show_score="3" data-sname="0"></div>
    {% endif %}

    {% if fav_actors|length >= 2 %}
        <h3>Since you like {{fav_actors[1].name}}</h3>
        <div class="list horiz-list movie-list" data-type="person" data-id="{{fav_actors[1].id}}" data-amount="15" data-sname="0"></div>
    {% endif %}

    <h3>Top Dramas</h3>
    <div class="list horiz-list movie-list" data-type="category" data-id="18" data-amount="15" data-show_score="3" data-sname="0"></div>

    <h3>Popular Movies Right Now</h3>
    <div class="list horiz-list movie-list" data-type="popular" data-id="0" data-amount="15" data-sname="0"></div>

    {% if fav_actors|length >= 1 %}
        <h3>Since you like {{fav_actors[0].name}}</h3>
        <div class="list horiz-list movie-list" data-type="person" data-id="{{fav_actors[0].id}}" data-amount="15" data-sname="0"></div>
    {% endif %}
    
    <h3>Top Action Movies</h3>
    <div class="list horiz-list movie-list" data-type="category" data-id="28" data-amount="15" data-show_score="3" data-sname="0"></div>

    {% if fav_actors|length >= 3 %}
        <h3>Since you like {{fav_actors[2].name}}</h3>
        <div class="list horiz-list movie-list" data-type="person" data-id="{{fav_actors[2].id}}" data-amount="15" data-sname="0"></div>
    {% endif %}
    
{% endblock %}
