{% extends 'base.html' %}


{% block title %}Cinelow{% endblock %}


{% block content %}
    {% if current_user.is_authenticated %}
        <h3>Top Picks For You</h3>
        <div class="list horiz-list movie-list" data-type="recommended" data-id="{{current_user.id}}" data-amount="15" data-sname="0"></div>
    {% endif %}

    <h3>Top Movies</h3>
    <div class="list horiz-list movie-list" data-type="category" data-id="0" data-amount="15" data-show_score="3" data-sname="0"></div>

    <h3>Top Dramas</h3>
    <div class="list horiz-list movie-list" data-type="category" data-id="18" data-amount="15" data-show_score="3" data-sname="0"></div>
    
{% endblock %}
