{% extends 'base.html' %}

{% block title %}{{person['name']}}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/personstyle.css') }}">
    <meta name="description" content="{{person['biography']}}">
    <meta name="image" content="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{person['profile_path']}}">
    <meta name="og:title" content="{{person['name']}}">
    <meta name="og:type" content="website">
    <meta name="og:description" content="{{person['biography']}}">
    <meta name="og:image" content="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{person['profile_path']}}">
    <meta name="og:url" content="{{url_for('personPage', person_id=person['id'])}}">
{% endblock %}


{% block content %}
    <div id="headers">
        <div id="top-head">
            <h1>{{person['name']}}</h1>
            <!-- <a>2180 #3</a> -->
        </div>
        <div id="bot-head">
            <h5>{{person['known_for_department']}}</h5>
        </div>
    </div>
    <div id="grid-div">
        <div id="img-div"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{person['profile_path']}}" alt="{{person['name']}}"></div>
        <div id="description" class="collapse-text"><p>{{person['biography']}}</p></div>

        <div id="info">
            <b><p>Info</p></b>
            <a>Born: {{person['birthday']}}</a>
            {% if person['deathday'] != None %}<a>Died: {{person['deathday']}} </a>{% endif %}
        </div>
        <div id="movies">
            <b><p>Movies</p></b>
            <div class="list vert-list movie-list" data-type="person" data-id="{{person['id']}}" data-amount="10" data-show_score="1">

            </div>
        </div>
    </div>
    
{% endblock %}
