{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/personstyle.css') }}">
{% endblock %}

{% block title %}{{person['name']}}{% endblock %}


{% block content %}
    <div id="headers">
        <div id="top-head">
            <h1>{{person['name']}}</h1>
            <a>2180 #3</a>
        </div>
        <div id="bot-head">
            <h5>{{person['known_for_department']}}</h5>
        </div>
    </div>
    <div id="grid-div">
        <div id="img-div"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{person['profile_path']}}" alt="{{person['name']}}"></div>
        <div id="description" class="collapse-text"><p>{{person['biography']}}</p></div>

        <div id="info">
            <b><p>Info</p></b>
            <a>Born: {{person['birthday']}}</a>
            {% if person['deathday'] != None %}<a>Died: {{person['deathday']}} </a>{% endif %}
        </div>
        <div id="movies">
            <b><p>Movies</p></b>
            <div id="vert-list">
                {% for movie in movies [:10]%}
                <div class="row movie">
                    <img src="https://image.tmdb.org/t/p/w138_and_h175_face{{movie['poster_path']}}" alt="{{movie['original_title']}}">
                    <div>
                        <a href="{{url_for('moviePage', movie_id = movie['id'])}}"><h3>{{movie['original_title']}}</h3></a>
                    </div>
                    <a>1508 #2</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}
