{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/useraccount.css') }}">
{% endblock %}

{% block title %}{{user.username}}{% endblock %}


{% block content %}
    <div id="main-wrapper">
        <div id="left-section">
            <img id="user-img" src="{{url_for('static', filename='profilepics/' + user.image_file)}}" alt="userimg">
            <h2>{{user.username}}</h2>
            <br />
            <h4>Total Votes: </h4> <a>{{votes}}</a>
        </div>
        <div id="right-section">
            <h2>Top 10 Movies</h2>
            <div class="list vert-list">
                {% for movie in toplist %}
                    <a href="/m/{{movie[0].id}}">
                        <div class="row movie">
                            <img src="https://image.tmdb.org/t/p/w220_and_h330_face{{movie[0].poster_path}}" alt="{{movie[0].name}}">
                            <div>
                                <h3>{{movie[0].name}}</h3>
                            </div>
                            <b class="tooltip">{{movie[1] | int}}
                            <span class="tooltiptext">#{{movie[2]}} in <i>{{user.username}} movies</i>, with a <i>{{user.username}} movie</i> score of {{movie[1] | int}} ({{ movie[3] }} votes)</span>
                            </b>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
